{% extends 'board/base.html' %}

{% block content %}

<div class="home">
    <h1>{{ board_name }}</h1>
    <h2>Создать тред</h2>

    <form action="/{{ brd }}/" method="post">
        {% csrf_token %}
        <input type="text" name="post_text">
        <input type="submit" value="Отправить">
    </form>
</div>

    <hr>

{% for post in posts %}
    <p class="date">
    {{ post.pub_date }} #{{ post.pk }} <a href="/{{ brd }}/thread/{{ post.pk }}">Ответ</a>
    </p>{{ post.post_text }}<hr>
{% endfor %}
{% endblock %}