{% extends 'board/base.html' %}

{% block content %}

    <div class="home">
        <h1>{{ board_name }}</h1>
        <h2>Ответить в тред</h2>

        <form method="post">
            {% csrf_token %}
            <input type="text" name="post_text">
            <input type="submit" value="Отправить">
        </form>
    </div>

    <hr>


    <div class="post">
    <p class="date">
    {{ p.pub_date }} #{{ p.pk }}
    </p>{{ p.post_text }}
    </div>


    {% for comment in comments %}
        <div class="fuck">
        <div class="quote">>></div>
        <div class="comment_container">
        <div class="comment"> <div class="date">
        {{ comment.pub_date }} #{{ comment.pk }}
        </div>
            <div class="text">{{ comment.post_text }} </div></div>
        </div>
        </div>

    {% endfor %}


{% endblock %}
