{% extends 'board/base.html' %}

{% block content %}

    <div class="home">
        <h1>{{ board_name }}</h1>
        <h2>Ответить в тред</h2>

        <form method="post">
            {% csrf_token %}
            <textarea type="text" name="text" rows="8" cols="35" placeholder="Максимум 15 000 символов"></textarea> <br>
            <input type="submit" value="Отправить">
        </form>
    </div>

    <hr>


    <div class="post">
    <p class="date">
    {{ p.pub_date }} #{{ p.pk }}
    </p><p style="white-space: pre-line">{{ p.text }}</p>
    </div>


    {% for comment in comments %}
        <div class="fuck">
        <div class="quote">>></div>
        <div class="comment_container">
        <div class="comment"> <div class="date">
        {{ comment.pub_date }} #{{ comment.pk }}
        </div>
            <div class="text" style="white-space: pre-line">{{ comment.text }} </div></div>
        </div>
        </div>

    {% endfor %}


{% endblock %}
